<!-- Vue所管理的范围 -->
<div id="app" class="main_index">
  <!-- 用于渲染的代码逻辑 -->
  <h1>{{ msg }}</h1>
  
  <textarea name="" id="" cols="30" rows="3" v-model="originText"></textarea>

  <button class="button" @click="transform()">转换并复制</button>
  <textarea class="transformedText" v-model="transformedText"></textarea>
  <div id="qrcode"></div>
</div>
<!-- 引入的是开发版本包 - 包含完整的注释和警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
<!-- 使用 BootCDN 提供的 qrcodejs2 CDN 地址 -->
<script src="https://cdn.bootcdn.net/ajax/libs/qrcodejs/1.0.0/qrcode.js"></script>


<script>
  // 一旦引入 VueJS核心包，在全局环境，就有了 Vue 构造函数
  new Vue({
    // 通过 el 配置选择器，指定 Vue 管理的是哪个容器，值通常为css选择器字符串
    el: "#app",
    // 通过 data 提供数据
    data: {
      msg: "Hello World",
      count: 666,
      originText: "",
      transformedText:"",
    },
    mounted() {
    },
    methods: {
      transform() {
        if(!this.originText) return;
        // 正则表达式匹配手机号码
        const phoneNumbers = this.originText.match(/1[3456789]\d{9}/g);

        // 将匹配到的手机号用空格隔开
        const result = phoneNumbers.join(" ");
        this.transformedText=result;
        this.generateQRCode(result);
        this.copyToClipBoard(result);
      },
      generateQRCode(result) {
      // 使用 qrcode.js 生成二维码
      const qrcode = new QRCode(document.getElementById('qrcode'), {
        text: `${result}`,
        width: 128,
        height: 128,
      });
      },
      copyToClipBoard(result) {
        // 创建一个临时的textarea元素
        const textarea = document.createElement("textarea");
        textarea.value = result;

        // 将textarea添加到DOM中
        document.body.appendChild(textarea);

        // 选中textarea中的内容
        textarea.select();

        // 执行复制操作
        document.execCommand("copy");

        // 从DOM中移除textarea
        document.body.removeChild(textarea);
      },
    },
  });
</script>
<style>
  .main_index{
    width:100%;
    display: flex;
    flex-direction: column;
  }
  .button {
    margin-top: 15px;
    width:50%;
  }
  .transformedText{
    margin-top: 15px;
    margin-bottom: 15px;
  }
</style>

